<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Coming Soon</title>
  <link rel="stylesheet" href="../../style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <a href="../../../index.html">
      <img src="../../../assets/main_logo.png" alt="Logo" class="logo">
    </a>
  </header>

  <div class="content">
    <h1>Coming Soon</h1>
    <p>The Auto Restocker page is under construction. Stay tuned for updates!</p>

    <div class="download-container">
      <a href="../../../index.html" class="download-button">Back</a>
    </div>
  </div>

  <footer>
    <p>© 2025 by shark_cat._.</p>
    <p>We're not affiliated with or endorsed by Mojang, AB.</p>
  </footer>
</body>

</html>