<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>サメ猫製作所 | TPSV</title>

  <meta name="description" content="サメ猫の製作所 | shark cat's workshop">

  <meta name="publisher" content="サメ猫の製作所">
  <meta name="theme-color" content="#a8bdd6">
  <meta name="color-scheme" content="dark light">

  <meta property="og:site_name" content="サメ猫の製作所">
  <meta property="og:title" content="サメ猫の製作所 | shark cat's workshop">
  <meta property="og:description" content="shark cat's workshop">
  <meta property="og:image" content="https://shark-cat6005.github.io/samenekonoseisakujo/assets/main.logo.png">
  <meta property="og:image:alt" content="§">
  <meta property="og:image:width" content="34">
  <meta property="og:image:height" content="34">
  <meta property="og:url" content="https://shark-cat6005.github.io/samenekonoseisakujo/index.html">
  <meta property="og:type" content="website">

  <link rel="stylesheet" href="../page_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">
  <link rel="icon" href="../../assets/main.logo.png" type="image/png">
</head>

<body>
  <!-- 載入畫面 -->
  <div id="loader">
    <canvas id="loader-bg"></canvas>
    <canvas id="pixel-spinner" width="64" height="64"></canvas>
  </div>

  <!-- 星空背景 -->
  <canvas id="star-canvas"></canvas>
  <canvas id="light-canvas"></canvas>

  <header>
    <a href="../../index.html" class="logo-container">
      <img src="../../assets/main.logo.png" alt="Logo" class="logo">
      <span class="logo-text" translate="no">サメ猫製作所</span>
      <span class="logo-subtext" translate="no">@samenekonoseisakujo</span>
    </a>
  </header>

  <div class="content">
    <div class="banner">
      <img class="banner-img" src="../../assets/tpsv.banner.png" alt="Banner background">
      <h2 class="banner-title">TPSV</h2>
    </div>

    <div class="pack-info">
      <h3>Pack Info</h3>
      <p>
        - Have you ever hosted a server, but couldn't see its performance status—leaving players confused whether the
        lag was due to network delay or server issues?<br>
        - Have you ever tried other TPS display add-ons, only to constantly be asked what "TPS" means because it's not
        widely understood?<br>
        - Do you wish for a more intuitive way to visualize performance, so that even casual players can easily
        understand the data?<br><br>

        Then this is the add-on you're looking for!<br><br>

        TPSV provides a rich set of performance information, whether you're looking for easy-to-read stats or more
        advanced technical data.<br><br>

        <strong>Main Features:</strong><br>
        - <strong>TS:</strong> Stands for Tick Speed. It is displayed as a percentage—like CPU usage—offering a more
        intuitive way to understand server speed.<br>
        - <strong>ETTS:</strong> Indicates the total number of entities currently loaded in your world.<br>
        - <strong>TIME:</strong> Converts in-game time to real-world 24-hour format for a more human-readable
        display.<br>
        - <strong>MSPT:</strong> Milliseconds Per Tick — how long, on average, each tick takes to process.<br>
        - <strong>TPS:</strong> Ticks Per Second — how many ticks are processed every second.<br><br>

        <img class="context-img" src="../../assets/tpsv.banner.png" alt="Banner background">

      </p>
      <button class="toggle-button"><strong>Known Issue</strong></button>
      <div class="extra-info hidden">
        <p>
          When the day-night cycle is turned off, the TIME display continues to increment.
        </p>
      </div>
      <p>

        <strong>Latest Version:</strong> a0.1.0<br>
        <strong>Compatible Minecraft Version:</strong> 1.21.80 and above<br>
        <strong>Experimental Features Required:</strong><br>
      </p>
      <div>
        <button class="toggle-button"><strong>Experimental Features Required</strong></button>
        <div class="extra-info hidden">
          <p>
            <strong>|</strong>&nbsp;&nbsp;Beta API (required)
          </p>
        </div>
      </div>
      <p>
        <strong>Author:</strong> shark_cat._.<br>
        <strong>License:</strong> Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International<br>
        © 2025 by shark_cat._.<br>
        <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">
          https://creativecommons.org/licenses/by-nc-nd/4.0/
        </a>
      </p>
    </div>

    <p>
      <strong>Downloads</strong>
    </p>
    <div class="download-container">
      <a href="./download/TPSV a0.1.0.mcaddon" download="TPSV a0.1.0.mcaddon" class="download-button">
        TPSV alpth-0.1.0 [latest]<br>
      </a>
    </div>

  </div>

  <footer>
    <p>© 2025 by shark_cat._.</p>
    <p>I am not affiliated with or endorsed in any way by Mojang, AB.</p>
  </footer>

  <script src="../page_script.js"></script>
</body>

</html>